body {
    background: linear-gradient(45deg, black, #0A0723);
}



@media (max-width:500px) {
    #container {
        width: 90%;
        margin: 0 auto;
    }

    img {
        width: 100%;
    }

    .col-md-4 {
        width: 100%;
        margin: 5%;
    }

    a {
        color: black;
    }
}

@media (min-width:501px) {
    #container {
        width: 80%;
        margin: 0 auto;
    }

    img {
        width: 40%;
        margin: 1%;
    }

    .col-md-4 {
        display: inline;
        width: 100%;
        margin: 1%;
    }

    a {
        color: black;
    }
}

@media(min-width:1024px) {
    #container {
        width: 80%;
        margin: 0 auto;
    }

    img {
        width: 100%;
        margin: 1%;
    }

    .col-md-4 {
        width: 30%;
        margin: 1%;
    }

    a {
        color: black;
    }

    p {
        margin-left: 1%;
        font-size: 2.9em;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 2px solid red;
        padding-bottom: 5px;
        width: 46%;
        color: whitesmoke;
    }
}