* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a,
p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    margin-left: 25%;
    background-color: black;
}

#phome {
    padding: auto;
    margin: auto;
    width: auto;
    color: white;
}

.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    border: 2px solid whitesmoke;
}

@media (max-width:500px) {
    img {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    a,
    p {
        font-size: 1.2em;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media (min-width:501px) {
    img {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    a,
    p {
        font-size: 1.2em;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media(min-width:800px) {
    img {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    a,
    p {
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}